<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="TargetDatabase" connectionString="Data Source=.;Initial Catalog=NPOS_PROD_Master_AFC;Integrated Security=True"/>
    <!--<add name="NPOS_PROD_MASTER_LC" connectionString="Data Source=.;Initial Catalog=NPOS_PROD_Master_LC;Integrated Security=True"/>-->
  </connectionStrings>
</configuration>